<%- include("partials/header") -%>


<div class="heading">
    <h1 class="l1">INDIA NEEDS YOUR HELP</h1>
    <h2 class="l5">ONE Unit of Your PLASMA can Save upto THREE Lives</h2>
</div>

<div class="row">
    <div class="col-sm-4" id="c1" >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">HELP!!!</h5>
            <h5 class="h">Following people want to help:</h5><br>
            
            <% var i=1;%>
            <%post.forEach(function(posts){ %>
                <% var UserName  = posts.User;%>
                <% if(posts==0){ console.log(post);%>
                    <ul><li style="color: rgb(56, 255, 73); text-align: center; ">No posts yet </li></ul>
                <% }else if(posts!=0){%>
                <div >
                   
                    <form action="/view/detail.ejs" method="post">
                    <input onclick="this.form.submit()" style="float: left; width: 100%;background-color:rgba(153, 241, 241, 0.836);border: 2px red solid; margin-top:3px; font-weight: 200; justify-content:center;"><%=i%>: <%= posts.User%> want to donate <%=posts.BloodGr%> 
                    <ul>
                        <li value="<%= posts.User%>"></li>
                        <li value="<%= posts.State%>"></li>
                        <li value="<%= posts.BloodGr%>"></li>
                    </ul>
                </input>
                </form>
                
                </div>
                <% i++;}}); %>
            
            <p class="card-text"></p>
            
          </div>
        </div>
      </div>
    <div class="col-sm-4" id="c2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">WANT TO DONATE?</h5>
            <p class="card-text">If you are recovered COVID patient and willing to Donate</p><br>
            <form class="float-child"  action="/register" method="get">
                <div >
                    <input class="bd" type="submit" value="REGISTER" onChange="this.form.submit()"  ></div>
               </form>
          </div>
        </div>
      </div><div class=" col-sm-4 " id="c3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">LOOKING FOR A DONOR?</h5>
          <p class="card-text">If you are looking for a donor then "SEARCH" here</p>
          <form class="float-child"  action="/search" method="get">
            <div >
                <input class="bl" type="submit" value="SEARCH" onChange="this.form.submit()"  ></div>
           </form>
        </div>
      </div>
    </div>
    
   </div>
</section>


<div id="test">.</div>

<!-- how it works -->

<section id="how" class="how">

<div class="container-fluid">

    <h2 class="how-heading">HOW IT WORKS</h2>

    <div class="hiw-row row">

        <!-- HOW IT WORKS - ITEM 1 -->
        <div class="col-sm-12 col-md-4 fadeIn animated done-animation" data-animation="fadeIn">
            <div class="hiw-item">
                <img class="picture" src="/images/1.jpg" alt="">
                <div class="how-details">
                    <span class="how-icon">1</span>
                    <h4 class="how-title"><b>Register Your Details</b></h4>
                    <p class="hiw-item-description">
                        Whether you are a donor or a recipient we need some details – contact details, location,
                        blood group are critical for us make the match.
                    </p>
                </div>
            </div>
        </div>

        <!-- HOW IT WORKS - ITEM 2 -->
        <div class="col-sm-12 col-md-4 fadeIn animated done-animation" data-animation="fadeIn">
            <div class="hiw-item even">
                <img class="picture" src="/images/x.png" alt="">
                <div class="how-details">
                    <span class="how-icon">2</span>
                    <h4 class="how-title"><b>We match donors</b></h4>
                    <p class="hiw-item-description">
                        Our algorithm matches registered patients and donors in real time based on rules created
                        in consultation with medical experts.
                    </p>

                </div>
            </div>
        </div>

        <div class="hidden-md hidden-lg clear"></div>

        <!-- HOW IT WORKS - ITEM 3 -->
        <div class="col-sm-12 col-md-4 fadeIn animated done-animation" data-animation="fadeIn">
            <div class="hiw-item">
                <img class="picture" src="/images/3.jpg" alt="">
                <div class="how-details">
                    <span class="how-icon">3</span>
                    <h4 class="how-title"><b>You connect</b></h4>
                    <p class="hiw-item-description">
                        Once we have created a successful match, we share the donor's details with the patient.
                    </p>
                </div>
            </div>
        </div>



    </div>

</div>

</section>

<!-- how it works end -->


<div id="test1">.</div>

<!-- Precautions -->

<section class="precaution" id="precaution">
<div class="pre-heading">PRECAUTIONS</div>

<div class="card-deck">
    <div class="card">
        <div class="card-body text-center">
            <img src="/images/4.jpg" alt="logo">
            <p class="card-text">Wash Your Hands Regularly</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img src="/images/5.png" alt="logo">
            <p class="card-text">Maintain Social Distancing</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img src="images/6.jpg" alt="logo">
            <p class="card-text">Wear your Mask Properly</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img src="/images/7.jpg" alt="logo">
            <p class="card-text">Do not travell Unnecessary</p>
        </div>
    </div>
</div>

</section>

<!-- precautions_end -->

<div id="test2">.</div>

<!-- symptoms -->
<section class="precaution" id="precaution">
<div class="pre-heading">SYMPTOMS</div>

<div class="card-deck">
    <div class="card">
        <div class="card-body text-center">
            <img src="/images/11.jpg" alt="logo">
            <p class="card-text">Fever</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img src="/images/12.jpg" alt="logo">
            <p class="card-text">Sore Throat</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img src="/images/13.jpg" alt="logo">
            <p class="card-text">Shortness of Breath</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img src="/images/14.png" alt="logo">
            <p class="card-text">Headache</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img src="/images/15.jpg" alt="logo">
            <p class="card-text">Dry Cough</p>
        </div>
    </div>
</div>

</section>
<!-- symptoms end -->


<div id="test2">.</div>



<!-- contact -->
<section class="my-5" id="contact">
<div class="py-5">
    <h2 class="contact-heading">CONTACT US</h2>
</div>
<div class="w-50 m-auto">
    <form action="userinfo.php" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="user" autocomplete="off" class="form-control">
        </div>
        <div class="form-group">
            <label>Email-Id</label>
            <input type="text" name="email" autocomplete="off" class="form-control">
        </div>
        <div class="form-group">
            <label>Mobile</label>
            <input type="text" name="mobile" autocomplete="off" class="form-control">
        </div>
        <div class="form-group">
            <label>Comment</label>
            <textarea class="form-control" name="comment">
        </textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>



<%- include("partials/footer") -%>