<%- include("partials/header") -%>

<div class="cont">
<form action="#" method="post">
    <div><label for="">State</label>
<select class="form-select"  name="states" id="st">
    <option value="" id="stl">select a state </option>
</select></div>
<div>
<label for="">District</label>
<select class="form-select"  name="districts" id="dsrt">
    <option value="" id="dsrtl">select a district</option>
</select></div>
<div>
    <label for="">Blood Group</label>
    <select class="form-select"  name="blood" id="bd" required>
        <option value="" id="bg">select the blood group</option>
                    <option value="A+">A RhD positive (A+)</option>
                    <option value="A-">A RhD negative (A-)</option>
                    <option value="B+">B RhD positive (B+)</option>
                    <option value="B-">B RhD negative (B-)</option>
                    <option value="O+">O RhD positive (O+)</option>
                    <option value="O-">O RhD negative (O-)</option>
                    <option value="AB+">AB RhD positive (AB+)</option>
                    <option value="AB-">AB RhD negative (AB-)</option>
    </select></div>
<div >
<button type="submit" action="./searched.ejs" class="btn btn-success" onclick="this.form.submit()">SEARCH</button></div>
</form>

</div>

<div class="res">
    <ul>
    <%post.forEach(function(posts){ %>
        <%if(posts==0){%>
        <li style="color: rgb(56, 255, 73); text-align: center; ">No posts yet </li>
        
        <%} else if(posts!=0){%>
        <li>
            <div>
                <%= posts.User%> 
                <span>E-mail: 
                    <%= posts.Email %> 
                </span>
                <span>Mobile: 
                    <%= posts.Mobile %>
                </span>
                <span>Blood Group: 
                    <%= posts.BloodGr %>
                </span>
                
            </div>
            
        </li>
    <%}})%>
</ul>
</div>
<script>
 
    $(document).ready(function(){
          var s="";
             $.getJSON("state_dist.json", function(result){
           
                $.each(result.data, function(i, field){
                   // console.log(this.state);
                    $("#st").append('<option name="'+this.state+'">'+ this.state+'</option>');
                    

    });

    $("#st").change(function(){
        var a=$("#st :selected").val();
        console.log(a);
        $.each(result.data,function(i,field){
            if(this.state==a){
                //console.log("found");
                $("#dsrt").empty();
                $.each(this.districts,function(i,field){
                    
                    $("#dsrt").append('<option name="'+field+'">'+ field+'</option>');
                })
            }
        })
       
  })

    
  });

  
    })



</script>

<%- include("partials/footer") -%>